# Copy to .env and fill in.

# Credentials for scraping
BLUESKY_HANDLE=
BLUESKY_APP_PASSWORD=
ACCESS_TOKEN=

# Credentials for DB access
DB_HOST=mysql8p2.uni-jena.de
DB_PORT=3306
DB_NAME=i86hoxb7_thwicsonar

DB_USER=
DB_PASSWORD=
